* {
	font-family: verdana;
	padding:0;
    margin:0;
}

.title-bar {
    position: fixed;
    overflow: hidden;
    top: 0;
	left: 0;
	width: 100%;
	background-color: #0097b5;
	height: 50px;
	float: left;
	display: block;
	z-index: 1;
}
.title-bar h1 {
	padding-top: 11px;
	padding-left: 16px;
	font-size: 24px;
	color: white;
	text-shadow: 2px 2px black;
}
.title-bar h1 a:link, a:hover, h1 a:active, h1 a:visited {
	background-color: #0097b5;
	color: white;
	text-decoration: none;
}
.sign-up-nav-button {
	position: absolute;
	top: 10px;
	right: 2%;
	background-color: #006478;
	border: none;
	color: white;
	padding: 6px 12px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	text-decoration: none;
	border: 1px white solid; 
	border-radius: 8px;
	font-weight: bold;

}
.sign-up-nav-button:hover {
	transition: ease 0.5s;
	font-size: 16px;

}
/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: 50px;
	float: left;
	display: flex;
	justify-content: space-around;
	z-index: 1;
}
/* Style the links inside the navigation bar */
.topnav a {
	background-color: #333;
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 17px 10px;
	text-decoration: none;
	font-size: 15px;
	width: 12vw;
}


/* Change the color of links on hover */
.topnav a:hover {
	background-color: #333;
	color: #0097b5;
	cursor: pointer;
}
.dropbtn {
	background-color: #333;
	color: #f2f2f2;
	text-align: center;
	padding: 17px 10px;
	text-decoration: none;
	font-size: 15px;
	border: none;
	cursor: pointer;
	height: 50px;
	width: 12vw;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80%;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
	background-color: #333;
	color: white;
	padding: 19px 10px;
	text-decoration: none;
	display: block;
	width: 12vw;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #333;
	color: #0097b5;
	cursor: pointer;
	}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
 	background-color: #333;
	color: #0097b5;
	cursor: pointer;
}
/* Add a color to the active/current link */
.topnav a.active {
	background-color: #0097b5;
	color: white;
}

.main {
	display: flex;
	flex-direction: column;
	color: #333;
}
form {
	margin-top: 50px;
}
h1 { 
	margin-top: 100px;
	font-size: 36px;
	color: #333;
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
h2 {
	font-size: 24px;
	color: #0097b5;
	padding: 10px 0;
	text-shadow: 1px 1px black;
	margin-left: auto;
	margin-right: auto;
	font-weight: bolder;
}
h3, #countdown {
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;

}
form {
	width: 60%;
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	min-width: 440px;
	max-width: 700px;
}
fieldset {
		border: none;
}
input[type=text], select {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 17px;
  
}
input:focus {
	background-color: #ebfcff;
}
input[type=submit] {
  width: 100%;
  background-color: #0097b5;
  color: white;
  padding: 10px 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
}
#preferences > label {
	line-height: 25px;
}
.commBox {
	width: 100%;
	}
.footer {
	position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: white;
   text-align: center;
   padding: 2vw 0; 
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 24px;
  text-align: center;
  text-decoration: none;
  margin: 20px 2px;
  background-color: #0097b5;
  border-radius: 50%;
  color: white;
  transform: rotate(15deg);
}

.fa:hover {
    opacity: 0.7;
}
#footer-break {
	padding: 3vw;
	min-height: 100px;
}
#page-container {
  position: relative;
  min-height: 100vh;
    background-color: #eee;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
